REACT_APP_BACKEND_URL=https://api.example.com

# AWS Cognito (User Pool)
REACT_APP_COGNITO_REGION=eu-west-2
REACT_APP_COGNITO_USER_POOL_ID=eu-west-2_XXXXXXXXX
REACT_APP_COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Optional (if you end up storing non-absolute photo keys)
# REACT_APP_S3_PUBLIC_BASE_URL=https://your-bucket.s3.eu-west-2.amazonaws.com

